h2 {
  color: #262626;
  text-align: center;
}

.list {
  margin: 0 auto;
  width: 50%;
  .MuiListItem-root:hover {
    background-color: #DCDCDC;
    border-radius: 8px;
  }
}

.table {
  margin: 0 auto;
  width: 80%;
}